* {
  line-height: 1.2;
  margin: 0;
}

html {
  color: #333;
  display: table;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

header {
  background-image: url(../img/laptop-header.png);
  height: 12%;
  width: 100%;
  position: fixed;
  background-repeat: no-repeat;
  z-index: 100;
  background-size: 100%;
}

body {
  background-image: url(../img/laptop-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 1em 0;
}

.toggleButton {
  background: white;
  border-color: green;
  width: 40px;
  height: 20px;
}

.active {
  background: green;
}

.buttons-container {
  width: 75%;
  position: absolute;
  right: 5%;
  padding-top: 10%;
}

.chartWrapper {
  width: 75%;
  position: absolute;
  right: 5%;
  margin-top: 15%;
}

.compare-laptop {
  width: 90%;
  margin-top: 5%;
}

@media screen and (max-width: 992px) {
  body {
    background-image: url(../img/ipad-bg.png);
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  body {
    background-image: url(../img/mobile-bg.png);
  }
}