* {
  line-height: 1.2;
  margin: 0;
}

@font-face {
  font-family: "Arla Interface Regular";
  src: url("css/fonts/arlaifrg.ttf");
  src:
    url("css/fonts/arlaifrg.woff") format("woff"),
    url("css/fonts/arlaifrg.otf") format("opentype"),
    url("css/fonts/ifrg.svg#filename") format("svg");
}

html {
  color: #333;
  display: table;
  font-family: 'Arla Interface Regular', sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

header {
  background-image: url(../img/laptop-header.png);
  height: 15%;
  width: 100%;
  position: fixed;
  background-repeat: no-repeat;
  z-index: 100;
  background-size: 100%;
}

body {
  background-image: url(../img/laptop-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 1em 0;
}

.toggleButton {
  background: white;
  border-color: #4BB131;
  border-radius: 25px;
  width: 140px;
  height: 30px;
  color: #4BB131;
  margin: 10px;
}

.active {
  background: #4BB131;
  border-color: #4BB131;
  color: white;
}

.h1-container {
  width: 90%;
  position: absolute;
  right: 5%;
  top: 0;
  font-size: 12px;
}

.h1-container>h1 {
  font-weight: 600;
  letter-spacing: 1.2px;
}

.buttons-container {
  width: 75%;
  position: absolute;
  right: 5%;
  top: 30%;
  z-index: 100;
}

.chartWrapper {
  width: 65%;
  position: absolute;
  right: 10%;
  top: 13%;
}

#chart-farmer {
  margin-top: 25%;
}

#chart-region {
  margin-top: 25%;
}

.button-wrapper {
  width: 100%;
  background-image: url(../img/compare-laptop.png);
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-flex-container {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-right: 12%;
}

.farmer-btn {
  width: 85px;
  height: 33px;
  border-radius: 25px;
  background-color: white;
  border-color: #4bb131;
  color: #4bb131;
  margin: 5px;
  cursor: pointer;
}

.tips-btn {
  width: 40%;
  height: 45px;
}

.table-p {
  width: 50%;
  margin: 3% auto;
}

.table-container {
  width: 95%;
  margin: 40px auto;
  font-size: 12px;
}

#default-btn {
  background-color: white;
  border-color: white;
  color: white;
  cursor: auto;
}

.compare-laptop {
  width: 90%;
  margin-top: 5%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  background-color: white;
}

th, td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
}

.center-td {
  padding-left: 2%;
}

.center-tr>td {
  text-align: center;
}

.btn-td {
  text-align: right;
}

td {
  padding-left: 5%;
}

td>img {
  padding-left: 5%;
}

input {
  height: 35px;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 3%;
  padding-left: 2%;
  border: 1px solid #707070;
}